<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">プロフィール</h2>
        <%= render partial: "form" , locals: { profile: @profile}%>
    </div>
  </div>
</div>