    <% comments.order(created_at: :desc).each do |comment| %>
      <li class="comments_list">
        <div class="comment_text"><%= comment.text.truncate(50, omission: '...')%></div>
        <%= link_to comment.user.name, profile_path(comment.user_id), class: :comment_user %>
      </li>
    <%end%>
</ul>