// Place all the styles related to the intros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*投稿*/
.card {
  width: calc((100% - 30px) / 3);
  height: 250px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
.card:hover {
  opacity: 0.4;
  transition-duration: 0.5s;
}
.card__img {
  margin-bottom: 16px,;
  min-height: 230px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__body{
  height:20px ;
}

.card__summary {
  font-size: 16px;
  height: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__user {
  display: block;
  font-size: 14px;
  color: #111;
  text-align: right;
  text-decoration: underline;
}
/*投稿*/

/* 詳細ページ */
.your_book__wrapper{
  min-height: calc(100vh - 161px);
}

.your_book__heading{
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 10px;
}

.person{
  font-size: 20px;
  margin-left: 20px;
}

.person-parent{
  display: flex;
  margin-top: 5px;
}

.your_book__user{
  display: block;
  font-size: 20px;
  color: black;
  margin-left: 20px;
  text-decoration: underline;
  font-family: 'IM Fell DW Pica SC', serif;
  
}
.your_book__image{
  width: 90%;
  margin: 0 auto;
  padding: 16px 0;
}

.your_book__detail{
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-bottom: 0px;
}

.likes_parent{
  width: 250px;
  display: flex;
  justify-content: space-around;
}

.count{
  font-size: 15px;
  margin-left: 3px;
  margin-bottom: 1px;
}

.likes_count{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.detail__title{
  font-size: 18px;
  font-weight: bold;
}
.detail__parent{
  display: flex;
  justify-content: space-between;
}
.your_book__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.your_book__btn_1{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 20px;
  color: #111;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
  transition: 0.4s ease;
}

.your_book__btn_2{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 20px;
  color: #111;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
  transition: 0.4s ease;
}

.your_book__btn_1:hover{
  color: rgb(94, 207, 94);
  transition: 0.3s ease;
  
}

.your_book__btn_2:hover{
  color: rgb(221, 16, 47);
  transition: 0.3s ease;
  
}
.likes__link_1:hover{
  color: rgb(221, 16, 47);
  transition: 0.3s ease;
  
}

.likes__link_2:hover{
  color: rgb(94, 207, 94);
  transition: 0.3s ease; 
}

.your_book__comments{
  background-color: rgb(252, 244, 233);
  padding: 20px;
}

.comments_lists{
  padding-left: 20px;
}


.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}
