// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*ルーム*/
.wrapper {
  display: flex;
  background-image: url(/wood2.jpg);
  background-position: center;
  background-size: cover; 
  width: 100%;
  height: 100vh;
}
.side-bar-parent{
  background-image: url(wood6.jpg);
  background-position: center;
  background-size: cover; 
}
.side-bar {
  background-color: whitesmoke;
  min-width: 300px;
  height: 100vh;
}
.side-bar-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name a{
  font-size: 16px;
  color: white;
}
.header-name a:hover{
  color:wheat;
}
.create-room  a{
  font-size: 13px;
  color: white;
}
.create-room a:hover{
  color:wheat;
}
.room-out a{
  font-size: 13px;
  color: white;
}
.room-out a:hover{
  color: wheat;
}
.rooms_parent{
  background-image: url(wood3.jpg);
  background-position: center;
  background-size: cover; 
  width: 100%;
  height: calc(100vh - 100px);
  
}
.rooms {
  padding: 0 20px;
  overflow: scroll;
}
.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color:black;
}
.room-name a:hover{
  color: rgb(54, 184, 3);
}
.chat {
  width: 100vw;
}
.without-new-room{
  display: flex;
  padding-left: 50px;
}
.without_room{
  margin-left: 50px;
}
.without_room:hover{
  color: #08d401;
}
.chat-header-parent{
  background-image: url(wood4.jpg);
  background-position: center;
  background-size: cover;
}
.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.header-title {
  color: white;
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  color: white;
  padding: 20px;
}
.header-button a:hover{
  color: wheat;
}