/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}
/*基礎*/

.header {
  background: url(../img/old.jpeg) center / cover;
  height: 150px;
  width: 100vw; 
}
.main{
  min-height: 900px;
  height: 100%;
  padding-top: 3px; 
  background-image: url(wood2.jpg);
  background-position: center;
  background-size: cover; 
}

.inner {
  width: 1024px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 10px;
}

.logo {
  width: 200px;
  font-size: 20px;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: rgb(219, 255, 244);
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  border: 1px black;
  border-radius: 3px;
  transition: 0.4s ease;
  animation-name: fadedown;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes fadedown {
from {
    opacity: 0;
    transform: translateY(-10px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
  
}

.nav__left{
  color :rgba(255, 254, 254, 0.993);
  font-weight: bold;
  font-size: 45px;
  margin-left: 20px;
  margin-bottom: 10px;
  animation-name: fadedown;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes fadedown {
from {
    opacity: 0;
    transform: translateY(-10px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

.nav__btn:hover{
  background :rgb(200, 252, 187);
  transition-duration: 0.8s;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}

.nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り */
.form__wrapper{
  height: 100vh;
}

.form__text_1{
  font-size: 14px;
  width: 70%;
}

.form__text_2 {
  width: 70%;
  height: 100px;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #111111;
  text-decoration: none;
  user-select: none;
  background: wheat;
  border: 1px wheat solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */

.greeting{
  margin-top: 5px;
  animation-name: fadedown;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes fadedown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
  color: black;
  font-family: 'Alegreya Sans SC', sans-serif;
  
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  min-height: calc(100vh - 161px);
  animation-name: fadedown;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes fadedown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*投稿*/
.card {
  width: calc((100% - 30px) / 3);
  height: 250px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
.card:hover {
  opacity: 0.4;
  transition-duration: 0.5s;
}
.card__img {
  margin-bottom: 16px,;
  min-height: 230px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__body{
  height:20px ;
}

.card__summary {
  font-size: 16px;
  height: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__user {
  display: block;
  font-size: 14px;
  color: #111;
  text-align: right;
  text-decoration: underline;
}
/*投稿*/

/* 詳細ページ */
.your_book__wrapper{
  min-height: calc(100vh - 161px);
}

.your_book__heading{
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 10px;
}

.person{
  font-size: 20px;
  margin-left: 20px;
}

.person-parent{
  display: flex;
  margin-top: 5px;
}

.your_book__user{
  display: block;
  font-size: 20px;
  color: black;
  margin-left: 20px;
  text-decoration: underline;
  font-family: 'IM Fell DW Pica SC', serif;
  
}
.your_book__image{
  width: 90%;
  margin: 0 auto;
  padding: 16px 0;
}

.your_book__detail{
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-bottom: 0px;
}

.likes_parent{
  width: 250px;
  display: flex;
  justify-content: space-around;
}

.count{
  font-size: 15px;
  margin-left: 3px;
  margin-bottom: 1px;
}

.likes_count{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.detail__title{
  font-size: 18px;
  font-weight: bold;
}
.detail__parent{
  display: flex;
  justify-content: space-between;
}
.your_book__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.your_book__btn_1{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 20px;
  color: #111;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
  transition: 0.4s ease;
}

.your_book__btn_2{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 20px;
  color: #111;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
  transition: 0.4s ease;
}

.your_book__btn_1:hover{
  color: rgb(94, 207, 94);
  transition: 0.3s ease;
  
}

.your_book__btn_2:hover{
  color: rgb(221, 16, 47);
  transition: 0.3s ease;
  
}
.likes__link_1:hover{
  color: rgb(221, 16, 47);
  transition: 0.3s ease;
  
}

.likes__link_2:hover{
  color: rgb(94, 207, 94);
  transition: 0.3s ease; 
}

.your_book__comments{
  background-color: rgb(252, 244, 233);
  padding: 20px;
}

.comments_lists{
  padding-left: 20px;
}


.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

/* ユーザーページ */


.profile-header-text{
  font-size: 20px;
}

.profile-wrap{
  margin-top: 20px;
}  
.profile-text{
  margin-left: 30px;
}
.edit-parent{
  margin-top: 30px;
}
.edit-text:hover{
  color: darkgray;
}
/* フッター */

.footer {
  background-color: #999;
  padding: 5px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}
/*ルーム*/
.wrapper {
  display: flex;
  background-image: url(wood2.jpg);
  background-position: center;
  background-size: cover; 
  width: 100%;
  height: 100vh;
}
.side-bar-parent{
  background-image: url(wood6.jpg);
  background-position: center;
  background-size: cover; 
}
.side-bar {
  background-color: whitesmoke;
  min-width: 300px;
  height: 100vh;
}
.side-bar-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name a{
  font-size: 16px;
  color: white;
}
.header-name a:hover{
  color:wheat;
}
.create-room  a{
  font-size: 13px;
  color: white;
}
.create-room a:hover{
  color:wheat;
}
.room-out a{
  font-size: 13px;
  color: white;
}
.room-out a:hover{
  color: wheat;
}
.rooms_parent{
  background-image: url(wood3.jpg);
  background-position: center;
  background-size: cover; 
  width: 100%;
  height: calc(100vh - 100px);
  
}
.rooms {
  padding: 0 20px;
  overflow: scroll;
}
.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color:black;
}
.room-name a:hover{
  color: rgb(54, 184, 3);
}
.chat {
  width: 100vw;
}
.without-new-room{
  display: flex;
  padding-left: 50px;
}
.without_room{
  margin-left: 50px;
}
.without_room:hover{
  color: #08d401;
}
.chat-header-parent{
  background-image: url(wood4.jpg);
  background-position: center;
  background-size: cover;
}
.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.header-title {
  color: white;
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  color: white;
  padding: 20px;
}
.header-button a:hover{
  color: wheat;
}
/*メッセージ*/
.message_wrapper{
  background-image: url(wood2.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 100px - 90px);
}

.messages {
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}
.message {
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}
h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.chat-room-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.chat-room-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.chat-room-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.chat-room-form__input {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.chat-room-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
}
.chat-room-form__field {
  margin-top: 30px;
}
.chat-room-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-form__field--left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.chat-room-form__field--right {
  float: right;
  width: 70%;
}

.chat-room-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  width: 500px;
  margin: 0 auto;
}
.chat-room-user:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-user__name {
  float: left;
}
.chat-room-user__btn {
  float: right;
  display: inline-block;
  cursor: pointer;
}
.chat-room-user__btn--add {
  color: #38aef0;
}
.chat-room-user__btn--remove {
  color: #f05050;
}

.chat-room-user__name a {
  text-decoration: none;
  color: #38aef0;
}

select {
  width: 500px;
  height: 50px;
}

.top-header {
  background-color: #434a54;
  height: 80px;
  width: 100%;
}
.field_with_errors {
  display: contents;
}

/*購入*/
.transaction-contents {
  width: 100vw;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.transaction-main {
  background-color: #FFF;
  
  width: 80vw;
  min-width: 450px;
  padding: 20vh 20vw;
}

.transaction-title-text {
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
  font-weight: bold;
  font-size: 22px;
}

/* 購入内容の表示 */

.item-price-text {
  font-size: 15px;
  margin-right: 20px;
}

.item-price-sub-text {
  font-size: 12px;
}

/* /購入内容の表示 */

/* 支払額の表示 */
.item-payment {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #f5f5f5;
  font-weight: bold;
  margin-top: 10px;
}
.payment-child{
  display: inline-block;
}

.item-payment-title {
  font-size: 20px;
}

.item-payment-price {
  font-size: 25px;
}

/* /支払額の表示 */

/* カード情報の入力 */
.credit-card-form {
  padding: 120px;
  border-bottom: 2px solid #f5f5f5;
  margin-top: 5px;
  padding-bottom: 50px;
}
.form-group{
  display: inline-block;
  height: 50px;
  margin-top: 30px;
}

.info-input-haedline {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.input-default{
  width: 200px;
  height: 50px;
}

.available-card {
  display: flex;
  height: 35px;
}

.card-logo {
  width: 40px;
  margin: 5px 5px;
}

.input-expiration-date-wrap {
  width: 100%;
  display: flex;
  text-align: center;
  line-height: 55px;
}

.input-expiration-date {
  width: 20%;
  margin-top: 5px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
  line-height: 45px;
  text-align: center;
}

/* /カード情報の入力 */

/* 配送先の入力 */

.buy-btn {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.buy-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

/* タブレット対応 */
@media (max-width: 1060px) {
  .header{
    height: 150px;
  }
  .main{
    min-height: 700px;
    height: 100%;
    padding-top: 3px; 
    background-image: url(wood2.jpg);
    background-position: center;
    background-size: cover; 
  }
  
  .inner {
    margin: 0 auto;
    width: 90%;
    
  }
  .page-heading {
    font-size: 24px;
  }
  .card__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .card {
    width: calc((100% - 100px) / 2);
    height: 300px;
  }
  .card__img {
    height: 240px;
    width: 350px;
  }
  .your_book_image{
    width: 60%;
  }
  
}
/* スマホ表示 */
@media (max-width: 599px) {
  .header{
    height: 150px;
  }
  .main{
    min-height: 550px;
    height: 100%;
    padding-top: 3px; 
    background-image: url(wood2.jpg);
    background-position: center;
    background-size: cover; 
  }
  
  .logo {
    width: 120px;
  }

  .page-heading {
    font-size: 20px;
  }

  .card__wrapper{
    margin-top: 20px;
  }
  .card {
    width: 350px;
  }

  .card__title {
    font-size: 18px;
  }

  .card__summary {
    font-size: 14px;
  }

  .your_book_image{
    width: 100%;
  }

  .table{
    width: 100%;
  }

  .main{
    height: 40%;
  }

  .card__wrapper {
    display: flex;
    justify-content: center;
  }
  
}

