<%= link_to(intro_path(intro.id), class: 'card') do %>  
  <%= image_tag(intro.image, class: :card__img )%>
  <div class="card__body">
    <div class= "card__title"><%=intro.book%></div>
        <p class="card__summary">
          <%= intro.review %></p>  
    
  </div>

<%end%>