<main class="main">
  <div class="inner">
    <%if user_signed_in?%>
      <div class="greeting">
        ようこそ
         <%= link_to current_user.name, root_path(current_user.id), class: :greeting__link%>
         さん

      </div> 
    <%end%>
    <div class="card__wrapper">
      <%= render partial: "intro", collection: @intros %>
    </div>
  </div>
</main>
